body {
	text-align: center;
	color: black;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 17px !important;
	background-image: url(../images/rflying_fish_waves_highres.png);
}

.navbar-default {
	margin-right: 125px;
	margin-left: 125px;
}

#mandarinCharacter {
	font-size: 110px;
}


.cardTest {
	display: inline-block !important;
	width: 250px;
	height: 200px;
	vertical-align: top;
	margin-left: 10px;
}
.cardContainer {
/*	text-align: center;*/
	display: inline-block;
}

/*.panel-body{
	padding-top: 5px !important;
}*/

.btn-group{
	padding-bottom: 15px;
	clear: both
}

/*#translateCard{
  display: table;
}*/

/*#translate-mid{
	
}*/

/*#translate-div {
	positon: absolute;
	height: 50%;
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}*/

/*.procedure-details{
	max-height: 100px;

	transition: .8s;
  overflow: hidden;
}*/
.procedure-details.hidden {
  max-height: 0;
}

a {
	text-decoration: none !important;
}

.btn-group {
	display: block;
}