body {
	text-align: center;
	color: black;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 17px !important;
	background-image: url(../images/rflying_fish_waves_highres.png);
}

.navbar-default {
	margin-right: 125px;
	margin-left: 125px;
}

#mandarinCharacter {
	font-size: 110px;
}

.cardTest {
	display: inline-block !important;
	width: 250px;
	height: 200px;
	vertical-align: top;
	margin-left: 10px;
}
.cardContainer {
/*	text-align: center;*/
	display: inline-block;
}


.btn-group {
	padding-bottom: 15px;
	clear: both
}

.procedure-details.hidden {
  max-height: 0;
}

a {
	text-decoration: none !important;
}

.btn-group {
	display: block;
}

.word-accentuate {
	color: #428bca;
}

.word-accentuate:hover,
.word-accentuate:focus {
	color: #2a6496;
	cursor: pointer;
}

#header-accentuate {
	font-size: 50px !important;
	color: #2a6496;
	text-shadow:2px 2px #428bca;
}

#loading-image {
	/*padding-top: 9px;*/
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}

#yelp-no-match {
	color: red;
	background: white;
	border-radius: 3px;
  margin-right: 125px;
	margin-left: 125px;
}
#yelp-logo {
	width: 70px;
	float: left;
	margin-top: 10px;
}
.red {
  border: red solid 2px !important;
  padding: 10px;
  margin: 0 10px;
}

.green {
  border: green solid 2px !important;
  padding: 10px;
  margin: 0 10px;
}
.warning {
	color: #2a6496;
	background: white;
	border-radius: 5px;
	border: #ccc solid 1px;
	padding-right: 10px;
	padding-left: 10px;

}