<div id='container' ng-controller:'FlashcardsController'>
  

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class='active'><a href= "#/flashcards">flashcards</a></li>
        <li><a href= "#/map">map</a></li>
      </ul>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type='search' ng-model='findChar' class="form-control" placeholder="Search">
        </div>
        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
      </form>
      
    </div>
  </div>
</nav>

  
  <div class="btn-group" data-spy="affix" data-offset-top="200">
<!--     <div class="span12"> -->
      <button type="button" class="btn btn-default" ng-click="getData()">Reset</button>      
      <button type="button" class="btn btn-default" ng-click="getData(0)">1-10</button>
      <button type="button" class="btn btn-default" ng-click="getData(10)">11-20</button>
      <button type="button" class="btn btn-default" ng-click="getData(20)">21-30</button>  
      <button type="button" class="btn btn-default" ng-click="getData(30)">31-40</button>
      <button type="button" class="btn btn-default" ng-click="getData(40)">41-50</button>
<!--     </div> -->
  </div>

  
  <div class="col-med-2 "></div>
  <div class="offset-5 col-med-7 ">
  <div
    class="cardContainer"
    ng-repeat='word in data | filter:findChar'
    ng-click="word.showing = !word.showing">

    
    <div id="mandCard" ng-if="!word.showing" class="cardTest panel panel-default">
      <div class="panel-body">
        <div id='mandarinCharacter'>

          <a href="#" onclick="return false">
            {{word.character}}
          </a>
        </div>
      </div>
    </div>
    
    <div id='translateCard' class='cardTest panel panel-default' ng-if="word.showing">  
      <div id='translate-mid' class="panel-body">
        <div id='pinyin'><a href="#" onclick="return false">{{word.pinyin}}</a></div>
        <div id='translate-div' >{{word.translation}}</div>      
      </div>
    </div>
    <!--     <div id='extraVocabCard'>{{word.extraVocab}}</div> -->
  
  </div>
  </div>
</div>

















